$primary-color:#d9d9d9;
$secondary-color: #ff8163;
$tertiary-color: #5f8868;
$quaternary-color:#766877;
$quinary-color: #c78d05;
$senary-color: #666666;
$septenary-color:white;

$font-stack: 'Oswald', 'PT Sans', sans-serif;

$base-font-size: 1.1em;